

 body {
    background-color:#D0B8A8;
}

hr {
    
    border-style:  none;
    border-top-style: dotted;
    border-color: #85586fa6;
    border-width: 7px;
    width: 5%;
    
}

h1 {
    color: #2B3A55;
}

h3 {
    color: #85586F;
}